.main
{
	font-family: arial; 
	font-size: 12 px; 
	padding-top: 25px;
	margin-left: 20px;
	text-decoration: none;
}

body 
{
    background-color: #EFEFF4;
    top-margin: 0;
}     

.navbar
{
	left:0;
	top:0;
	background:#f7f7f8;
	border-bottom:1px solid #c4c4c4;
	color: #787A7A;
	font-family: arial; 
	font-size: 12 px; 
	line-height: 50px;
	text-decoration: bold;
	text-align: center;
}